[submodule "vendor/mcut"]
	path = vendor/mcut
	url = https://github.com/cutdigital/mcut
[submodule "vendor/CavalierContours"]
	path = vendor/CavalierContours
	url = https://github.com/jbuckmccready/CavalierContours.git
